*{
    margin:0;
    padding:10px;
    background:#cfcfcf;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
display:flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
}

p{
    font-size: 35px;
}
.selectPart{
    width:200px;
    height:20%;
    font-size:18px;
    border-radius: 6px;
}
.selectedDogPicture{
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center center;
  width:100%;
  height:450px;  
}